* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--Font-1: 'Manrope';
}
html {
	height: 100%;
}
body {
	font-family: var(--Font-1), sans-serif;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	position: relative;
	z-index: 0;
	overflow: hidden;
}
body::before {
	content: '';
	position: absolute;
	top: 85%;
	left: 50%;
	width: 1200px;
	height: 900px;
	transform: translate(-50%, -50%);

	background: radial-gradient(circle at left, #f9a8d4 0%, #9462bd 90%);
	filter: blur(300px);
	z-index: -1;
	pointer-events: none;
}
header {
	display: flex;
	width: 100%;
	height: 50px;
	padding: 0px 50px;
	justify-content: center;
	align-items: center;
	background: #160211;
}
main {
	display: flex;
	flex-direction: column;
	margin: 0 300px;
}
.main-cont {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 50px);
}
.header-container {
	display: flex;
	gap: 40px;
}
h1 {
	color: #fff;

	text-align: center;
	font-family: var(--Font-1, Manrope);
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.messages {
	flex: 1;
	padding: 1rem;
	height: 79vh;
	overflow-y: auto;
	display: flex;
	flex-direction: column-reverse;
	/* justify-content: center;
	align-items: center; */
	gap: 10px;
}

#message-form {
	margin-bottom: 50px;
	display: flex;
	padding: 10px;
	background: #f9f9f9;
	gap: 10px;
	border: 1px solid black;
	border-radius: 8px;
}
#message-input {
	flex: 1;
	padding: 0.5rem;
	font-size: 1rem;
	border: none;
	outline: none;
	background-color: #f9f9f9;
	resize: none;
	min-height: 36px;
	max-height: 150px;
	font-family: var(--Font-1), sans-serif;
	/* overflow-y: hidden; */
}

.send-button {
	margin-left: 0.5rem;
	padding: 0.5rem 1rem;
	border: none;
	background-color: #f9f9f9;
	cursor: pointer;
}

.menu-container {
	position: absolute;
	top: 11px;
	right: 20px;
}

.message-container {
	max-width: 70%;

	margin-left: auto;
}
.message {
	padding: 10px;
	font-size: 14px;
	line-height: 1.4;
	border-radius: 8px;
	border: 1px solid #03f;
	white-space: pre-wrap;
	background: #fff;
}

.message-time {
	left: 0;
	bottom: 0;
	font-size: 10px;
	color: dimgrey;
}

.message-top {
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-height: 20px;
}

.message-author {
	top: 0;
	left: 0;
	font-size: 10px;
	color: black;
}
.message-options {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 15px;
}

.message-options::before {
	content: url('../imajes/Monotone_add.svg');
}
