body {
  font: 16px sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background: #000;
  color: #fff;
  height: 5vh;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  font-weight: normal;
  margin: 0;
}

.messages {
  height: 80vh;
  margin: 0 auto;
  overflow: auto;
  width: 500px;
}

.message {
  margin-bottom: 20px;
  width: 50%;
}

.message-mine {
  margin-left: auto;
}

.message-header {
  display: flex;
  justify-content: space-between;
}

.message-text {
  background: #fff;
  border: solid 1px #000;
  border-radius: 10px;
  margin: 0;
  padding: 1em;
}

.message-time {
  color: #999;
  font-size: 80%;
}

.form form {
  align-items: center;
  bottom: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
  height: 5vh;
  padding: 2em;
  position: absolute;
  vertical-align: middle;
  width: 100%;
}

.form textarea {
  font: 16px sans-serif;
  height: 1em;
  padding: 0.5em;
  width: 30em;
}

.form button {
  font: 16px sans-serif;
}
